<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=toolboothstorage3;AccountKey=ikctpIlt5FCPblLamgjLaQCpqFORtl6yvMSLDsxGY5vSkrX5EF1TyKc8hfG+RSYbwDpOdGet/FYKyrrzegXQ1w==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>